{% extends 'base.html.twig' %}

{% block body %}


<h1 class="mt-4 mb-5 titre" style="text-align:center;">Bienvenue sur le site DML Laille 35</h1>

<table id="danse" class="table mt-4" style="text-align:center;font-size:1.5em;">
  <caption>Le Vendredi à Salle des boulais, Route de Guichen, 39 rue de la halte, 35890 Laillé</caption>
  <thead class="">
    <tr>
      <th scope="col" class="">Niveau</th>
      <th scope="col" class="">Horaire</th>
    </tr>
  </thead>
  <tbody>
  {% for niveau in niveaux %}
    <tr>
      <th scope="row">{{niveau.title}}</th>
      <td>{{niveau.horaire | date('H:i')}} à {{niveau.horaireFin | date('H:i')}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


<div class="card mt-3 mb-2">
  <h2 class="ml-4" style="line-height:40px;">Le club DML Laillé</h2>
</div>
<div class="card-group mb-5">
  <div class="card">
    <!--<img class="card-img-top" src="http://placehold.it/180x180" alt="Card image cap">-->
    <div class="card-body">
      <h5 class="card-title">Country</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa optio ex aliquid, ad nulla molestiae maiores quod modi facere nostrum quia eveniet harum, veritatis totam, nobis consectetur, inventore labore reprehenderit?</p>
    </div>
  </div>
  <div class="card">
    <!--<img class="card-img-top" src="http://placehold.it/180x180" alt="Card image cap">-->
    <div class="card-body">
      <h5 class="card-title">Line</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quo, repellat, nam nobis neque amet perferendis cupiditate minus soluta cum explicabo nihil voluptatum a nesciunt reprehenderit ducimus aliquam officia laborum!</p>
    </div>
  </div>
  <div class="card">
    <!--<img class="card-img-top" src="http://placehold.it/180x180" alt="Card image cap">-->
    <div class="card-body">
      <h5 class="card-title">Manifestation</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi nostrum deserunt asperiores facere id, pariatur tempora maxime sed eveniet voluptates quisquam quod voluptatum, suscipit fuga ipsa ipsam, cupiditate repellat earum.</p>
    </div>
  </div>
</div>


<br>

<div class="card mb-2">
  <h2 class="ml-4" style="line-height:40px;">Plusieurs niveaux</h2>
</div>
<div class="card-group mb-4">
{% for niveau in niveaux %}
  <div class="card">
    <!--<img class="card-img-top mt-4" style="max-width:200px;margin:auto;" src="{{ asset('uploads/images/' ~ "circle-regular.svg") }}" alt="Card image cap">-->
    <div class="card-body">
      <h5 class="card-title">{{niveau.title}}</h5>
      <h5 class="card-title">{{niveau.horaire | date('H:i')}} à {{niveau.horaireFin | date('H:i')}}</h5>
      <p class="card-text">{{niveau.description}}</p>
    </div>
  </div>
{% endfor %}

<!--
</div>
  <div class="card">
    <img class="card-img-top" src="http://placehold.it/180x180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Intermédiaire</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quo, repellat, nam nobis neque amet perferendis cupiditate minus soluta cum explicabo nihil voluptatum a nesciunt reprehenderit ducimus aliquam officia laborum!</p>
    </div>
  </div>
-->

{% endblock %}
