<!DOCTYPE html>
<html>
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125092805-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125092805-1');
    </script>

    <title>Country</title>
    <meta name="Author" content="THEBAULT Louis">
    <link rel="shortcut icon" href="{{ asset('uploads/images/' ~ "danse_country.jpg") }}">
    <meta name="Description" content="Le club DML laillé 35 est un club de Country et de Line.
     Avec ses 3 niveaux de cours (débutant, initié, confirmé)
     il organise de nombreuses manisfestations pour soutenir bénévolement différente association caritative
    ">

    <meta property="og:description" content="Le club DML laillé 35 est un club de Country et de Line.
     Avec ses 3 niveaux de cours (débutant, initié, confirmé)
     il organise de nombreuses manisfestations pour soutenir bénévolement différente association caritative
    ">
    <meta property="og:title" content="DML Laillé 35" />


      <meta charset="UTF-8">
      <title>{% block title %}DML Laille{% endblock %}</title>

      {% block stylesheets %}{% endblock %}

      <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-CfCAYEgrdtRrpvjGKxoaRy5ge1ggMbxNSpEkY+XqdfdRTUkRrYZVB2z99E7BsEDZ" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ asset('css/style.css') }}">


    </head>
    <body>
      <nav id="nav" class="navbar navbar-dark navbar-expand-lg sticky-top" >
        <a class="navbar-brand" href="/">Dml Laille</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{path("danse")}}" >Danse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path("manifestation")}}">Manifestation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path("adherent")}}">adherent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path("admin")}}">Admin</a>
            </li>
            {% if app.user %}
            <li class="nav-item">
              <a class="nav-link" href="{{path("deconnexion")}}">Deconnexion</a>
            </li>
            {% endif %}
          </ul>
          <div class="media">
            <a  href="mailto:valeriedml35@gmail.com"><img src="{{ asset('uploads/images/envelope.svg') }}" class="ImgMedia"></a>
            <a  href="#"><img src="{{ asset('uploads/images/facebook.svg') }}" class="ImgMedia"></a>
            <a  href="#"><img src="{{ asset('uploads/images/youtube.svg') }}" class="ImgMedia"></a>
            <a  href="#"><img src="{{ asset('uploads/images/twitter.svg') }}" class="ImgMedia"></a>
            <a  href="https://www.linkedin.com/in/louis-thebault-9340b9167/"><img src="{{ asset('uploads/images/linkedin.svg') }}" class="ImgMedia"></a>
          </div>
        </div>
        </nav>
        <div class="container">


          {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
